body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 30px;
    line-height: 34px;
    background: url("../images/background.jpg")
  }
  
  #container{
   
  box-sizing: border-box;

  height: 100%;
  min-height: 400px;
  max-height: 100%;

  width: 100%;
  max-width: 650px;

  padding: 30px;

  margin: 0 auto -100px;
  background: rgb(130, 224, 130);

  border: 5px solid yellow;
  }

  #button{
    height: 80px;
    width: 200px;
    font-size: 50px;
    text-align: center;
  }
  h1{
    position: block;
    color: lime;
    font-size: 150px;
    font-weight: 200;
    font-family: fantasy;
    text-align: center;
    margin: 100px;
  }

  h4 {
    text-align: center;
    padding: 10px;
  }
  #question{
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px solid gray;
  }

  #gif{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }
  #start-button{
    border: 5px solid yellow;
    border-radius: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-family: fantasy;
    font-size: 50px;
  }